<h2 class="text-center">TPO Registration</h2>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">
<form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
<div class="form-group">
    <label for="name">Name<span class="required">*</span></label>
    <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Name">
    <div *ngIf="angForm.controls['name'].invalid && angForm.controls['name'].touched && angForm.controls['name'].hasError('required')" class="alert alert-danger">
    
        Please Enter Your Name
    
    </div>
    </div>
    <div class="form-group">
    <label for="email">College Email Id<span class="required">*</span></label>
    <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
    <div *ngIf="angForm.controls['email'].invalid && angForm.controls['email'].touched && angForm.controls['email'].hasError('required')" class="alert alert-danger">
    
        Enter Valid Email Address
    
    </div>
    </div>
    <div class="form-group">
    <label for="Password">Set Password<span class="required">*</span></label>
    <input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password">
    <div *ngIf="angForm.controls['email'].invalid && angForm.controls['email'].touched && angForm.controls['email'].hasError('required')" class="alert alert-danger">
    
        Enter Password
    
    </div>
</div>
<button type="submit" class="btn btn-success" >Register</button>
</form>
</div>
</div>
<div class="col-md-3">
</div>
</div>