
    <div class="container-fluid">
      <nav class=" mt-1 navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" routerLink="home" routerLinkActive="active">Welcome Placement Officer</a>
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <!-- Dropdown -->
          <li class="nav-item">
            <a routerLink='/tpodashboard' class="nav-link p-3" > <i class="fa fa-envelope-open-o"></i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink='/tpodashboard/schedular' class="nav-link p-3" > <i class="fa fa-envelope-open-o"></i>Schedular</a>
          </li>
          <li class="nav-item">
            <a routerLink='/tpodashboard/postjob' class="nav-link p-3" > <i class="fa fa-envelope-open-o"></i> Post - Job</a>
          </li>
          <li class="nav-item">
              <a routerLink='/tpodashboard/postedjob' class="nav-link p-3" > <i class="fa fa-envelope-open-o"></i>Posted - Job</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-3"  id="navbardrop" data-toggle="dropdown" style="cursor: pointer;">
             <i class="fa fa-building"></i>TPOName
            </a>
          
            <div class="dropdown-menu dropdown-menu-right bg-light">
              <a class="dropdown-item p-2"  routerLink="/tpodashboard/tpoprofile" routerLinkActive="active" style="cursor: pointer;">PROFILE</a>
                  <a class="dropdown-item p-2"  routerLink="/tpodashboard/tpoupdateprofile" routerLinkActive="active" style="cursor: pointer;">UPDATE PROFILE</a>
                  <a class="dropdown-item p-2" (click)="logout()" style="cursor: pointer;">LOGOUT</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  <router-outlet></router-outlet>
<h2 class="text-center">Profile</h2>
<div  *ngIf="alert" class="alert alert-success alert-dismissible fade show"  role="alert">
    <strong>Success ! </strong>Your data has been updated successfully!
    <button  type="button"  onclick="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">
<form [formGroup]="tpoprofileForm" (ngSubmit)="postdata(tpoprofileForm)" autocomplete="off" >
<div class="form-group">
<label for="name">Name</label>
<input type="text" name="name" value="{name}" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Name">
</div>
<div class="form-group">
<label for="email">Email</label>
<input type="email" name="email" value="{email}" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
</div>

</form>
</div>
</div>
<div class="col-md-3">
</div>
</div>