h3 {
    margin: 0 0 10px;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
.nav-link:hover{
     border-left: 5px solid orange; 
    /* animation-name: slowborder;
    animation-timing-function: ease;
    animation-duration: 1s; */
   
}
.nav-link:active{
   color: black;
}
@keyframes slowborder {
    0% { background-color: orange;opacity: 0.2;}
    25%{background-color: orange;opacity: 0.4;}
    50% {background-color: orange;opacity: 0.6;}
    75% {background-color: orange;opacity: 0.8;}
    100%{background-color:  orange;opacity: 1;}
  }
.dropdown-item:hover{
    
    border-left: 5px solid orange;
}
